<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= selectedUser.username %>’s Menu</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <a href="/users/<%= selectedUser._id %>/menu">
</a>

  <main class="menu-page">
    <h1><%= selectedUser.username %>’s Menu</h1>

    <% if (menu && menu.length > 0) { %>
      <div class="menu-list">
        <a href="/users/<%= user._id %>/menu/dish/<%= menu._id %>"
        <% menu.forEach(item => { %>
          <div class="menu-card">
            <h3><%= item.name %></h3>
            <p>Price: $<%= item.price %></p>
            <% if (item.photo) { %>
              <img src="<%= item.photo %>" alt="<%= item.name %>">
            <% } %>
          <% }) %>
          </div>
      <% } else { %>
        <p>No dishes available yet.</p>
       <% } %>
       <a href="/users/<%= user._id %>/menu/new">
        <button class="btn-red center-btn">Add Dish</button>
      </a>
      </div>
  </body>
